	/* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        background-color: #ffffff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }


    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 40px;
        margin-left: 50px;
        
    }

    .sidenav:hover .closebtn:hover{
        color: red;
        cursor: pointer;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    .sidenav {
        right: 0;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    .sidenav {
        right: 0;
    }

    #fulld{
        color: grey;
        text-align: center;
        margin-top: 20px;
    }

    #avatar{
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }

    #labz{
        color: black;
        font-size: 17px;
        font-weight: bold;
        margin-left: 50px;
        padding-bottom: 20px;
    }

    #info{
        color: grey;
        font-size: 17px;
   margin-left: 50px;
        
        
    }

    #detailsz{
        display: flex;
    }

/* : 
    address
"sdfsdf"
arrestedOn
: 
null
courtInformation
: 
"sdfsd"
crimeDetails
: 
"sdfsdf"
criminalId
: 
1690622640505
criminalPhotoFileName
: 
"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQACWAJYAA
dob
: 
null
entryDate
: 
"2023-07-29T09:24:00.505Z"
name
: 
"sdfsf"
physicalCharacteristics
: 
{height: '', weight: ''}
probationStatus
: 
""
__v
: 
0
_id
: 
"64c4e3a8def75b25379d341c" */