#photo::-webkit-file-upload-button {
    visibility: hidden;
  }

#photo{
    height: 40px;
    width:300px;
    font-size: 16px;
    background-color:rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    content: 'Select Photo';
}

#photo:hover{
    cursor: pointer;
    opacity: .5;
}


#photo::before {
    vertical-align: middle;
    padding-top: 10px;
    display: inline-block;
    background: linear-gradient(top, #691c1c, #e3e3e3);
    border-radius: 30px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: white;
    border: none;
  }
